*{

    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container{
    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#070707, #ffffff);
    flex-wrap: wrap;
}

navbar{
    background-color: black;
    height: 50px;
    position: sticky;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



.list1{
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    list-style-type: none;
}

.svg{
    position: absolute;
    left: 100px;
    cursor: pointer;
    transform: rotateZ(0);
    transition: transform 0.35s ease;
    overflow: hidden;
}

.svg.open{
   transform: rotateZ(90deg);
}

.container2{
    background-color: black;
    height: 100%;
    position: absolute;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.container2.open{
    background-color: black;
    height: 100%;
    position: absolute;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform: translateX(0);
   
}




.list2{
    list-style: none;
    
}

.sidetag{
    margin-top: 50px;
    margin-bottom: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

.heading{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 200px;
    right: 20px;
    top: -100px;
    
    left: -100px;
}

#bstyle{
    color: black;
}

img{
    width: 400px;
    height: 400px;
    
    position: relative;
    left: 100px;
    top: -10px;

    
}

.para{
   color: red;
}

.paragraphsection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}


section{
    min-height: 100vh;
    min-width: 100vw;
}

.sec2{
    background-color: white;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
   
}
.sec3{
    background-color: aqua;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    
}

.square{
    
    position: relative;
    background-color: red;
    height: 100px;
    width: 100px;
    animation: spin 2s linear alternate-reverse infinite; 
    
}
.square.open{
    background-color: black;
    height: 100px;
    width: 100px;
    animation: something 5s linear alternate infinite;
       
}

@keyframes 

something {
    0%{
        transform: translateX(0) rotateZ(0deg);
        
        
    }

    100%{
        transform: translateX(100vw)  rotateZ(100deg);
       
    }
}

@keyframes

spin{
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(100deg);

    }
}

p{
    color:white;
}

.c1{
    background-color: black;
    width: 300px;
    height: 300px;
    
    
}

.c2{
    background-color: black;
    width: 300px;
    height: 300px;
    
   
}

.c3{
    background-color: black;
    width: 300px;
    height: 300px;
}
